<h1>Booking history</h1>
      <ul class="list-group mb-3">
        <% @bookings.each do |booking| %>
          <li class="list-group-item">
            <%= link_to booking.fairy.name, dashboard_bookings_path %>
          </li>
        <% end %>
