<div class="banner" style="background-image: url(../assets/fairy_home_banner.jpeg), linear-gradient(rgba(.9,.9,.9,.9),rgba(0,0,0,100))";>
  <div class="container">
    <h1> Daily Fairies <strong> - Magic creatures</strong> for <strong>cheap people!</strong>!</h1>
    <p>Change your life and book a fairy from one of our sellers around the universe.</p>
    <a class="btn btn-flat" href="#" id="book-fairy">Book now</a>
    <a class="btn btn-flat" href="#" id="find-fairy">Find a fairy!</a>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
