.btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .btn-ghost:hover {
    opacity: 1;
  }
  
  #view_fairies.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: lightpink;
    transition: 0.3s;
  }

  .more_fairies.btn-flat{
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: lightpink;
    transition: 0.3s;
  }

  #view_fairies.btn-flat:hover {
    background: rgb(255, 127, 149);
    color: white;
  }

  #book_now.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: lightgreen;
    transition: 0.3s;
  }
  
  #book_now.btn-flat:hover {
    background: green;
    color: white;
  }

  #search_bar.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #5bffe6;
    transition: 0.3s;
  }
  
  #search_bar.btn-flat:hover {
    background: #29cff4;
    color: white;
  }
  
  .btn-gradient {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(#167FFB, #0F60C4);
    transition: background 0.3s ease;
    border: 1px solid #0F60C4;
  }
  
  .btn-gradient:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
