.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position:relative;
  width: 100%;
  margin: 0px;
}

.black  {
  color: black;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  padding-left:40px;
  padding-right:40px;
  padding-top:5px;
  padding-bottom: 5px;
}

.black:hover {
  color: rgb(255, 127, 149);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


