.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background: transparent;
  position: absolute;
  width: 100%;
  margin: 0px;
}

.black  {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


